= render :partial => 'shared/form_errors', :locals => {:model => @recipe}

= form_for @recipe  do |f|
  %fieldset
    = f.label :title
    = f.text_field :title

    = f.fields_for :recipe_ingredients do |ri|
      = ri.fields_for :ingredients do |ing|
        %fieldset
          = ing.label :name
          = ing.text_field :name
  %fieldset
    = f.submit "Save"