!!! 5
%html
  %head
    %title RecipeApp
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav{:id => "sidebar"}
      %h3 Categories
      %ul{:id => "categories"}
        = render @categories
    %main
      = yield
