!!! 5
%html
  %head
    %title RecipeApp
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      #flash
        Recipe Created

    %nav{:id => "sidebar"}
      %h3 Categories
      %ul{:id => "categories"}
        = render @categories

      = link_to "Add Recipe", new_recipe_path

    %main
      = yield
